.mainContainer{
  background-color: beige;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

#logo {
  width: 150px;
  border-radius: 7rem;
}
#cart {
  width: 100px;
  border-radius: 7rem;

}
#navItems {
  display: flex;
  gap: 35px;
}
#links {
  list-style-type: none;
  font-size: 24px;
  align-self: center;
  color: darkorange;
  font-weight: 500;
  cursor: pointer;
}
.loginComponent {
  display: flex;
  align-items: center;
  justify-content: center;
}
#loginButton {
  width: 80px;
  height: 30px;
  font-size: 17px;
  color: white;
  border: none;
  border-radius: 1rem;
  background-color: darkorange;
  cursor: pointer;
}

#searchContainer {
  display: flex;
  /* align-items: center; */
  position: relative;
  justify-content: center;
  gap: 20px;
}
#searchInput {
  width: 400px;
  height: 30px;
  font-size: 17px;
  color: white;
  border: none;
  border-radius: 1rem;
  padding-left: 15px;
  background-color: darkorange;
}

#searchInput::placeholder {
  color: lightgoldenrodyellow;
}
#searchInput:focus {
  outline: lightsalmon 2px solid;
  transition: 200ms;
  box-shadow: 0px 0px 5px gray;
}

#searchButton {
  width: 80px;
  height: 30px;
  font-size: 17px;
  color: white;
  border: none;
  border-radius: 1rem;
  background-color: darkorange;
  cursor: pointer;
}
#searchButton:active {
  background-color: lightsalmon;
  transition: 100ms;
}
.shimmer-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5rem;
  align-items: start;
  padding: 7rem;
}
.shimmer-card {
  width: 250px;
  height: 250px;
  background-color: lightgray;
  border-radius: 2rem;
}
#restrauntContainer {
  padding: 7rem;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-wrap: wrap;
  gap: 5rem;
}
.restrauntCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  overflow: hidden;
  width: 250px;
}
.restrauntCard:hover {
  box-shadow: 0px 0px 10px gray;
  transition: 200ms;
  overflow: hidden;
  transform: scale(1.2);
}
.restrauntImage {
  width: 200px;
  height: 200px;
  border-radius: 2rem;
  margin-top: 10px;
}
.restrauntName {
  font-size: 20px;
  font-weight: 500;
  color: darkorange;
  margin-top: 10px;
  text-align: center;
}
.restrauntValues {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  margin-top: 5px;
  text-align: center;
}
#filterButton {
  height: 30px;
  font-size: 17px;
  color: white;
  border: none;
  border-radius: 1rem;
  background-color: darkorange;
  cursor: pointer;
  padding: 7px;
  position: absolute;
  right: 20px;
}
#filterButton:active {
  background-color: lightsalmon;
  transition: 100ms;
}
.errorComponent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: green;
  height: 46rem;
  position: relative;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#soilImg{
  width: 80%;
  border-radius: 2rem;
  position: absolute;
  z-index: 1;
}
.errorDetails{
  position: absolute;
  z-index: 2;
  color: white;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#homePageButton{
  /* width: 80px; */
  height: 30px;
  font-size: 17px;
  color: white;
  border: none;
  border-radius: 1rem;
  background-color: brown;
  cursor: pointer;
}
#homePageButton:active {
  background-color: lightcoral;
  transition: 100ms;
}
#errorMssg{
  font-size: medium;
}
.item{
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
#itemDetails{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 18px;
  font-weight: 500;
}
#costOfItem{
  font-size: 18px;
  font-weight: 500;
  color: darkorange;
}
#imageOfItem{
  width: 156px;
  height: 144px;
  border-radius: 2rem;
}
.restrauntLink{
  text-decoration: none;
  color: inherit;
}